[submodule ".vim/pack/search/start/fzf"]
	path = .vim/pack/search/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/search/start/fzf.vim"]
	path = .vim/pack/search/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
